#search.searchText {
	width: 10px;
	height: 30px;
	float: left;
	/*border: 1px solid #000;*/
	outline: none;
	font-size: 12px;
	font-family: '΢���ź�';
	/*font-weight: bold;*/
	padding: 0 5px;
	background:transparent;
	border:none;
}

#content {
	text-align: left;
	width: 0px;
	margin: 0px;
	position: relative;	
}

/*.SearchResult {
	float: left;
	height: auto;
	margin: 5px 0 0px;
	width: 320px;
	border: 1px dashed #999;
	*//*background: rgba(250, 250, 250, 0.6);*//*
	overflow-y: auto;
	*//*padding: 5px;*//*
}*/



.list-group-item:hover,
.list-group-item:focus {
    text-decoration: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    /*color: #fff;*/
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.SearchResult {
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.0);
    padding: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

#SearchResult.seachTop {
    clear: both;
    border-bottom: 1px dashed #b5b5b5;
    font-weight: bold;
}

.SearchResult_li {
    border-bottom: 1px dashed #b5b5b5;
    margin: 5px;
    padding: 5px 0;
    cursor: pointer;
    list-style-type:none;
}

.SearchResult_item_left {
    float: left;
    width: 20px;
}

.SearchResult_item_right {
    margin-top: 30px;
    float: right;
    width: 75px;
    height: 55px;
}

.SearchResult_item_content {
    padding-left: 20px;
}

.infoWindow_head{
    margin-top: -5px;
    padding-left: 10px;
    width: 350px;
    border-bottom: 1px solid #b5b5b5;
}

.infoWindow_content{
    padding-top: 10px;
    padding-left: 10px;
}

.infoWindow_tail{
    /*border-top: 1px solid #b5b5b5;*/
}

.infoWindow_tail p{
    padding-top: 10px;
    margin-bottom: -10px;
}

.wikilink {
    font-size: 11px;
    cursor: pointer;
    padding-left: 10px;
    color: #2e60a5;
}

.wikiTag{
    font-size: 11px;
    margin-left: 10px;
    padding: 2px 2px;
    border-radius: 2px;
    color: #842626;
    border: 1px solid #9b9b9b;;
}

.wikiMore{
    margin-right: 20px;
    float: right;
    margin-top: -15px;
}