USE [Data_ArcGIS]
GO
/****** Object:  Table [dbo].[高速_ND_JUNCTIONS]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[高速_ND_JUNCTIONS](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[高速]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[高速](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POP]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POP](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[ZRKS] [nvarchar](50) NULL,
	[SXCGS] [nvarchar](50) NULL,
	[NAME] [nvarchar](255) NULL,
	[COORDINATE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENSHIDIVID00]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENSHIDIVID00](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
	[Grade] [int] NULL,
	[AdminGrade] [nvarchar](8) NULL,
	[Left_] [int] NULL,
	[Right_] [int] NULL,
	[LeftName] [nvarchar](10) NULL,
	[RightName] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENSHIDISTS01]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENSHIDISTS01](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
	[PNid] [int] NULL,
	[Name] [nvarchar](10) NULL,
	[Grade] [nvarchar](8) NULL,
	[AdminGrade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENSHIDISTS]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENSHIDISTS](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
	[PNid] [int] NULL,
	[Name] [nvarchar](10) NULL,
	[Grade] [nvarchar](8) NULL,
	[AdminGrade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENSHIBOUNDRYMARKER]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENSHIBOUNDRYMARKER](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[Id] [int] NULL,
	[Name] [nvarchar](8) NULL,
	[Bound1ID] [int] NULL,
	[Bound2ID] [int] NULL,
	[Bound3ID] [int] NULL,
	[Bound4ID] [int] NULL,
	[Bound5ID] [int] NULL,
	[type] [int] NULL,
	[TypeName] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEMOPOLYGON]    Script Date: 07/27/2017 14:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMOPOLYGON](
	[OBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[id] [int] NULL,
	[NAME] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
